---
title: Introduction
icon: fa fa-file-o
sortOrder: 8
styleName: alterne
topTitle: MainDocs
---
{{! grab the intro, turn it into HTML }}
<h1>{{title}}</h1>
<div class="content">
{{{md 'src/mddocs/intro.md'}}}
</div>
