---
title: Hover pricing Details
icon: fa fa-home
sortOrder: 0
styleName: default
topTitle: Index
---
<div class="page-header">
    <h1>Hover pricing Details <small>Bootstrap template, demonstrating details on pricing upon hover</small></h1>
</div>
<!-- Hover Pricing Details - START -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
                    <i class="fa fa-photo" style="font-size: 147px;"></i>
                </p>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="panel-heading">
                                <h3>Pricing Details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Pricing:<b>$69</b>
                                </div>
                                <div class="form-group">
                                    Sold Count:<b>57</b>
                                </div>
                                <div class="form-group">
                                    User Rating:<br />
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
                    <i class="fa fa-photo" style="font-size: 147px;"></i>
                </p>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="panel-heading">
                                <h3>Pricing Details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Pricing:<b>$999</b>
                                </div>
                                <div class="form-group">
                                    Sold Count:<b>88</b>
                                </div>
                                <div class="form-group">
                                    User Rating:<br />
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
                    <i class="fa fa-photo" style="font-size: 147px;"></i>
                </p>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="panel-heading">
                                <h3>Pricing Details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Pricing:<b>$888</b>
                                </div>
                                <div class="form-group">
                                    Sold Count:<b>22</b>
                                </div>
                                <div class="form-group">
                                    User Rating:<br />
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
</style>
<!-- Hover Pricing Details - END -->
</div>