---
block: Footerads
---
<!-- Footerads -->
<footerads>
	<div class="row">
		<div class="col-lg-12">
			<a href="#"><img src="assets/img/youradd.png">
		</div>
	</div>
</footerads>

<!-- /.Footerads -->