---
title: TOC
sortOrder: 0
styleName: alterne
category: toc
topTitle: TOC
---
{{! find each file from pages collection where data.topTitle matches Docs, then sort in order according to the data.sortOrder parameter and add an icon according to the data.icon contained in each of the hbs files }}
<!-- .tochbs -->
{{#withSort pages "data.sortOrder"}}
    {{#is data.topTitle "Docs"}}
        <li  {{#is ../../page.dest this.dest}} class="active"{{/is}}>
            <a href="{{relative ../../page.dest this.dest}}"><span class="{{data.icon}}">&nbsp;{{data.title}}</a>
        </li>
    {{/is}}
{{/withSort}}
<!-- ./tochbs -->
